<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
				
	<!-- 登录的bean -->
	<bean id="userDao" class="com.international.dao.UserDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- 国外院校的bean -->
	<bean id="collegeDao" class="com.international.dao.CollegeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	

	<bean id="classesDao" class="com.international.dao.ClassesDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	
	<bean id="noticeDao" class="com.international.dao.NoticeDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	
	<bean id="newsDao" class="com.international.dao.NewsDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

	<!-- 国际班学生的bean -->
	<bean id="studentDao" class="com.international.dao.StudentDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- 出国学生的bean -->
	<bean id="overseasStuDao" class="com.international.dao.OverseasStuDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- 交换生的bean -->
	<bean id="exchangeStuDao" class="com.international.dao.ExchangeStuDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- 活动信息的bean -->
	<bean id="activityDao" class="com.international.dao.ActivityDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	
	<bean id="policyDao" class="com.international.dao.PolicyDao">
    	<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	

	<!-- 协议信息的bean -->
	<bean id="agreementDao" class="com.international.dao.AgreementDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	

	<bean id="agencyDao" class="com.international.dao.AgencyDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	

	<!-- 考试的bean -->
	<bean id="examDao" class="com.international.dao.ExamDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	

	<bean id="trainingDao" class="com.international.dao.TrainingDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	
	<!-- 机构协议的bean -->
	<bean id="agencyAgreementDao" class="com.international.dao.AgencyAgreementDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
</beans>
						