<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 普通JDBC连接，取代 hiberbnate.cfg.xml -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 驱动程序 -->
		<property name="driverClassName"
			value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
		</property>
		<!-- 连接字符串 -->
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;DatabaseName=InternationalMS">
		</property>
		<property name="username" value="sa"></property>
		<property name="password" value=""></property>
	</bean>
	<!-- 创建SessionFactory，取代HiberbnateSessionFactory.java -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- setter注入 -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				 <!-- 数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<!-- 显示产生的sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化产生的sql语句 -->
				<prop key="hibernate.format_sql">true</prop>
				<!-- 只进结果集的处理 -->
				<prop key="hibernate.jdbc.use_scrollable_resultset">false</prop>
			</props>
		</property>
		<!-- 说明持久化类映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/international/model/Admin.hbm.xml</value>
				<value>com/international/model/College.hbm.xml</value>
				<value>com/international/model/InternationalClass.hbm.xml</value>
				<value>com/international/model/Notice.hbm.xml</value>
				<value>com/international/model/News.hbm.xml</value>
				<value>com/international/model/Policy.hbm.xml</value>
				<value>com/international/model/Agency.hbm.xml</value>
				<value>com/international/model/Exam.hbm.xml</value>
				<value>com/international/model/AgencyAgreement.hbm.xml</value>
				<value>com/international/model/Training.hbm.xml</value>
				<value>com/international/model/InternationalStudent.hbm.xml</value>
				<value>com/international/model/OverseasStudent.hbm.xml</value>
				<value>com/international/model/CollegeActivity.hbm.xml</value>
				<value>com/international/model/CollegeAgreement.hbm.xml</value>
				<value>com/international/model/ExchangeStudent.hbm.xml</value>
				<value>com/international/model/Score.hbm.xml</value>
				<value>com/international/model/StudentActivity.hbm.xml</value>
				<value>com/international/model/AttendTraining.hbm.xml</value>
			</list>
		</property>
	</bean>
</beans>