<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
						
	<!-- 登录的bean -->
	<bean id="loginAction" class="com.international.actions.admin.LoginAction" scope="prototype">
		<property name="ud"><!-- 调用set方法给ud赋值，实例化 -->
			<ref bean="userDao"/>
		</property>
	</bean>	
	
	<!-- 国外院校的bean -->
	<bean id="collegeAction" class="com.international.actions.college.CollegeAction">
		<property name="cd"><!-- 调用set方法给cd赋值，实例化 -->
			<ref bean="collegeDao"/>
		</property>
	</bean>	
	

	<bean id="internationClassAction" class="com.international.actions.classes.InternationClassAction">
		<property name="clsd">
			<ref bean="classesDao"/>
		</property>
	</bean>	
	
	<bean id="noticeAction" class="com.international.actions.infomation.NoticeAction">
		<property name="nd">
			<ref bean="noticeDao"/>
		</property>
	</bean>
	
	<bean id="newsAction" class="com.international.actions.infomation.NewsAction">
		<property name="nd">
			<ref bean="newsDao"/>
		</property>
	</bean>
	
	<bean id="policyAction" class="com.international.actions.infomation.PolicyAction">
		<property name="pd">
			<ref bean="policyDao"/>
		</property>
	</bean>
	
	<bean id="englishAgencyAction" class="com.international.actions.ielts.AgencyAction">
		<property name="ad">
			<ref bean="agencyDao"/>
		</property>
	</bean>
	
	<!-- 考试的bean -->
	<bean id="examAction" class="com.international.actions.ielts.ExamAction">
		<property name="exd">
			<ref bean="examDao"/>
		</property>
	</bean>

	<!-- 机构协议的bean -->
	<bean id="agencyAgreementAction" class="com.international.actions.ielts.AgencyAgreementAction">
		<property name="aad">
			<ref bean="agencyAgreementDao"/>
		</property>
	</bean>

	<!-- 活动的bean -->
	<bean id="collegeActivityAction" class="com.international.actions.college.CollegeActivityAction">
		<property name="ad"><!-- 调用set方法给ad赋值，实例化 -->
			<ref bean="activityDao"/>
		</property>
		<property name="cd"><!-- 调用set方法给cd赋值，实例化 -->
			<ref bean="collegeDao"/>
		</property>
	</bean>
	
	<!-- 协议的bean -->
	<bean id="collegeAgreementAction" class="com.international.actions.college.CollegeAgreementAction">
		<property name="agd"><!-- 调用set方法给agd赋值，实例化 -->
			<ref bean="agreementDao"/>
		</property>
		<property name="cd"><!-- 调用set方法给cd赋值，实例化 -->
			<ref bean="collegeDao"/>
		</property>
	</bean>
	
	<!-- 国际班学生的bean -->
	<bean id="internationalStudentAction" class="com.international.actions.student.InternationalStudentAction">
		<property name="sd">
			<ref bean="studentDao"/>
		</property>
	</bean>
	
	<!-- 出国学生的bean -->
	<bean id="overseasStudentAction" class="com.international.actions.student.OverseasStudentAction">
		<property name="osd">
			<ref bean="overseasStuDao"/>
		</property>
	</bean>
	
	<!-- 交换生的bean -->
	<bean id="exchangeStudentAction" class="com.international.actions.student.ExchangeStudentAction">
		<property name="esd">
			<ref bean="exchangeStuDao"/>
		</property>
	</bean>
	
	<!-- 学生夏令营活动的bean -->
	<bean id="studentActivityAction" class="com.international.actions.student.StudentActivityAction">
		<property name="sad">
			<ref bean="stuActivityDao"/>
		</property>
	</bean>
	
	<!-- 修改管理员信息的bean -->
	<bean id="updateInfoAction" class="com.international.actions.admin.UpdateInfoAction" scope="prototype">
		<property name="ud">
			<ref bean="userDao"/>
		</property>
	</bean>
	
	<!-- 超级管理员特有权限的bean -->
	<bean id="managerAction" class="com.international.actions.admin.ManagerAction">
		<property name="ud">
			<ref bean="userDao"/>
		</property>
	</bean>
	<bean id="addOperatorAction" class="com.international.actions.admin.AddOperatorAction">
		<property name="ud">
			<ref bean="userDao"/>
		</property>
	</bean>

	<!-- 退出系统的bean -->
	<bean id="exitAction" class="com.international.actions.admin.ExitAction">
		
	</bean>
	
	<!-- 文件下载的bean-->	
	<bean id="DocDownloadAction" class="com.international.actions.college.DocDownloadAction" scope="prototype">
		  					  							
	</bean>
	
	<bean id="trainingAction" class="com.international.actions.ielts.TrainingAction">
		<property name="td">
			<ref bean="trainingDao"/>
		</property>
		<property name="ad">
			<ref bean="agencyDao"/>
		</property>
	</bean>

	<!-- 学生参与雅思培训计划的bean -->
	<bean id="attendTrainingAction" class="com.international.actions.ielts.AttendTrainingAction">
		<property name="atd">
			<ref bean="attendTrainingDao"/>
		</property>
	</bean>
</beans>