<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
						
						
	<!-- loginAction的bean -->
	<bean id="loginAction" class="com.international.actions.admin.LoginAction">
		<property name="ud"><!-- 调用set方法给ud赋值，实例化 -->
			<ref bean="userDao"/>
		</property>
	</bean>	
	
	<!-- collegeAction的bean -->
	<bean id="collegeAction" class="com.international.actions.college.CollegeAction">
		<property name="cd"><!-- 调用set方法给cd赋值，实例化 -->
			<ref bean="collegeDao"/>
		</property>
	</bean>	
	
	<bean id="internationClassAction" class="com.international.actions.classes.InternationClassAction">
		<property name="clsd">
			<ref bean="classesDao"/>
		</property>
	</bean>	
	
	<bean id="noticeAction" class="com.international.actions.infomation.NoticeAction">
		<property name="nd">
			<ref bean="noticeDao"/>
		</property>
	</bean>
	
	<bean id="newsAction" class="com.international.actions.infomation.NewsAction">
		<property name="nd">
			<ref bean="newsDao"/>
		</property>
	</bean>
	
	<bean id="policyAction" class="com.international.actions.infomation.PolicyAction">
		<property name="pd">
			<ref bean="policyDao"/>
		</property>
	</bean>
	
</beans>